

<div id="article">
{{#each articles}}
<div class="well">
   <div class="row">
      <div class="col col-md-7">
         <h4>{{this.title}}</h4>
         <summary>{{this.summary}}</summary>
         <img class="media" src="{{this.img}}">
         <h4><a href="https://www.nytimes.com/{{this.link}}">Read More</a></h4>
      </div>
      <hr>
      <div class="col col-md-2">
         <form class="form-inline" action="/save/{{this.id}}" method="POST">
            <button type="submit" class="btn btn-success">Save Article</button>
         </form>
         {{#unless this.note}}
         <hr>
         <button type="button" class="addnote-button" value="{{this._id}}">Add A Note</button>
         {{/unless}}
         <hr>
         {{#if this.note}}
         <button type="button" class="addnote-button" value="{{this._id}}">Edit Note</button>
         {{/if}}
         <div class="container">
            <div class="row">
            </div>
         </div>
      </div>
   </div>
</div>
{{/each}}
<div class="footer">
   <p></p>
</div>
          