

<div id="articles">
    {{#each articles}}
        <div class="well">
            <div class="row">
                <div class="col col-md-7">
                    <h4>{{this.title}}</h4>
                               <summary>{{this.summary}}</summary>
                                <img class="media" src="{{this.img}}">
                    <h4><a href="{{this.link}}">Read More</a></h4>
                </div>
                <hr>
                <div class="col col-md-2">
                    <form class="form-inline" action="/save/{{this.id}}" method="POST">
                        <button type="submit" class="btn btn-success">Save Article</button>
                    </form>

               </div>
            </div>
        </div>
    {{/each}}
</div>    
<div class="footer">
  <p>Footer</p>
</div>

          